{% extends 'base.html.twig' %}

{% block title %}Nouvelle demande{% endblock %}

{% block body %}
    <div class="container">
        <p> Bonjour {{ app.user.email }}</p>
        <p> Voici vos rôles : {% for role in app.user.roles %} {{ role }}, {% endfor %}</p>
        <br/>
        <p>Liste des liens :</p>
        <ul>
            <li><a href="{{ path('new_request') }}">Faire une demande</a></li>
            <li><a href="{{ path('index_request') }}">Listes des requêtes</a></li>
        </ul>
        <br/>
        
        <p><a href="{{ path('app_logout') }}">Déconnexion</a>
    </div>
{% endblock %}