{% extends 'base.html.twig' %}

{% block title %}Enregistrement Utilisateur{% endblock %}

{% block body %}
    <h1>Création de compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        <br/>
        {{ form_row(registrationForm.plainPassword) }}
        <br/>
        {{ form_row(registrationForm.username) }}
        <br/>
        <button type="submit" class="btn">S'enregistrer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
