{% extends 'base.html.twig' %}

{% block title %}Gestion des requêtes{% endblock %}

{% block body %}
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <div class="content px-4">
        <h4> Gestion des requêtes <h4>
        <hr>
        <p><a href="{{ path('home') }}">Retour au menu</a>
        <hr>

        <br/>
        <section>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th class="text-center">Username</th>
                        {% endif %}
                        <th class="text-center">Titre</th>
                        <th class="text-center">Contenu</th>
                        <th class="text-center">Date de la demande</th>
                        <th class="text-center">statut</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th class="text-center">Action</th>
                            <th class="text-center">Supprimer</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class="align-middle">
                {% for request in usersRequests %}
                    <tr>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>{{ request.userReference.username }} </td>
                        {% endif %}
                        <td>{{ request.title }} </td>
                        <td>{{ request.content }} </td>
                        <td>{{ request.createDate|date('d-m-Y') }} </td>
                        <td>{{ request.status }} </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td> </td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <br>
    </div>
{% endblock %}
