{% extends 'base.html.twig' %}

{% block title %}Nouvelle demande{% endblock %}

{% block body %}
    <h1>Création d'une demande</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.title, {
            label: 'Titre: '
        }) }}
        {{ form_row(requestForm.content, {
            label: 'Contenu de la demande: '
        }) }}

        <button type="submit" class="btn">Envoyer</button>
    {{ form_end(requestForm) }}

    <br/><br/>
    <a href="{{ path('home') }}">Retour à la page d'accueil</a>
{% endblock %}
