<html>
    <head>
    </head>
    <body>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="_password"/>
        <input type="hidden" name="_home" value="/account"/>

        <button type="submit">login</button>
    </form>

    <br><br>
    <p> Pas encore de compte ? Enregistrer vous ici :  <a href="{{ path('app_register') }}">S'enregistrer</a>
    </body>
</html>